
# BEGIN BackUpWordPress
# Этот файл .htaccess гарантирует, что другие люди не могут загрузить Ваши файлы резервных копий.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=8e7648d537fb73d5861980561312d738
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress